@charset "UTF-8";

/* 回答はここに書いてね */

.parent {
  text-align: center;
}
.common{
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.text,.textarea,.button{
  border-radius: 5px;
}

.text::-webkit-input-placeholder{
  color: #00BCD4;
}

.text {
  border: 1px solid #00BCD4;
  padding: 5px;
  outline: 0;
}

.text:focus {
  box-shadow: 0 0 10px #00BCD4;
}

textarea{
  border: 1px solid #00BCD4;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  resize: none;
  outline: 0;
}

.radio {
  display: none;
}

.radio_icon {
  position: relative;
  display: inline-block;
  padding: 5px 5px 5px 20px;
}
.radio_icon:hover {
  cursor: pointer;
}

.radio_icon:before {
  content: '';
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio:checked + .radio_icon:after {
  content: '';
  position: absolute;
  background-color: #00BCD4;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
}

.checkbox_input {
  display: none;
}

.check_icon:hover {
  cursor: pointer;
}

.check_icon {
  position: relative;
  padding: 5px 5px 5px 20px;
}

.check_icon:before {
  content: '';
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 0px;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  border: 1px solid #ccc;
}

.checkbox_input:checked + .check_icon:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 3px;
  width: 15px;
  height: 5px;
  border-bottom: 2px solid #00BCD4;
  border-left: 2px solid #00BCD4;
  -webkit-transform: rotate(-45deg);
}


.select_box select{
  background-color: #fff;
  padding-left: 10px;
  width: 80px;
  padding: 5px;
  font-size: 14px;
  outline: 0;
  -webkit-appearance:none;
}

.select_box label{
  position: relative;
}

.select_box label::after{
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 2px #ccc;
  border-right: solid 2px #ccc;
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}

button{
  color: #00BCD4;
  border: 1px solid #00BCD4;
  outline: 0;
  cursor: pointer;
}

button:active{
  color:#fff;
  background-color: #00BCD4;
  outline: 0;
}

/* 回答はここに書いてね */
