@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:before,
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.parent {
  width: 900px;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
}

.left_image {
  float: left;
  margin: 0px 20px 10px 0px;
}

.right_image {
  float: right;
  margin: 0px 0px 10px 20px;
}


.font {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}

/* 回答はここに書いてね */
