@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:before,
.clearfix:after{
  display:block;
  clear: both;
  content: "";
}

.contents {
  padding: 20px;
  width: 700px;
  margin: 0 auto;
  background-color: #ecf1f2;
}

.title_form {
  position: relative;
}

.title_form > h1 {
  position: absolute;
  padding: 0px 20px;
  float: left;
  top: -10px;
  background-color: #ecf1f2;
  font-size: 24px;
  font-weight: bold;
}

.title_form > hr {
  border-bottom: 0px solid #ccc;
  width: 100%;
  margin-top: 10px;
}

.main {
  margin-top: 30px;
}

.left_box {
  float: left;
  text-align: end;
  margin-left: 30px;
  width: 270px;
}

.left_child_box {
  margin-bottom: 25px;
}

.text > span,.email > span {
  color: #f00;
}

.radio {
  display: none;
}

.radio_icon {
  position: relative;
  padding: 5px 5px 5px 20px;
}
.radio_icon:hover {
  cursor: pointer;
}

.radio_icon:before {
  content: '';
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio:checked + .radio_icon:after {
  content: '';
  position: absolute;
  background-color: #00BCD4;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
}

input[type="text"] {
  border: none;
  line-height: 20px;
  width: 170px;
  margin-left: 10px;
  border-radius: 3px;
  outline: 0;
}

label {
  margin:0 10px;
}

.textarea {
  padding: 10px;
  border:none;
  resize: none;
  box-sizing: border-box;
  border-radius: 3px;
  outline: 0;
  margin-left: 30px;
}

.submit {
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  line-height: 26px;
  padding: 0 10px;
  cursor: pointer;
  outline: 0;
}
/* 回答はここに書いてね */
